/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100 !important;

  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300 !important;

  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;

  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500 !important;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700 !important;

  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900 !important;

  font-style: normal;
}

